.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 20px;
  padding-right: 40%;
  padding-left: 5%;
}

.App-header > h1 {
  color: dodgerblue;
}

.App-intro {
  font-size: large;
}

h2 {
  text-align: center;
}

li {
  text-align: center;
  margin: 5px 0px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.categories-list > ul {
  list-style-type: none;
  padding-inline-start: 0px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
.categories-list > ul > li {
  text-align: justify;
  margin: 5px 0px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.categories-list > ul > li > img {
  width: 30px !important;
  margin: 5px;
}

form > #inputSearch {
  line-height: 30px;
  border-radius: 6px;
  border-color: lightgray;
}

form > input[type=submit].button, div.button, div#show_q, #btnGuess {
  width: 100px;
  margin-top: 10px !important;
  background-color: dodgerblue;
  color: white;
  padding: 9px 8px;
  align-self: center;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  font-size: 15px;
}
#btnSearch´{
  width: -webkit-fill-available;
}