.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.categories-list > form {
  width: 60%;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  padding: 10px 20px;
  text-align: left;
  margin: 7px;
  border-radius: 5px;
  background-color: ghostwhite;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.Question {
  font-size: 18px;
  width: 100%;
  font-style: italic;
  padding: 10px 0;
  margin: 10px 0;
}

.answer-holder {
  font-size: 15px;
  margin: 15px 0px;
}

.answer-holder > span {
  background-color: rgba(149, 203, 247, 0.5);
  font-weight: bold;
  padding: 10px;
}

.show-answer {
  width: auto;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 30px;
}

img.delete {
  width: 20px;
}