.quiz-play-holder {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.category-holder {
    margin-top: 16px;
    font-size: 24px;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    color: dodgerblue;
}

.button {
    align-self: center;
}
#btnGuess{
    width: auto;
}
div.button {
    margin-top: 10px;
}

.quiz-question {
    margin: 15px 10px;
    font-size: 20px;
}
#guess {
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin: 20px 0 15px 0;
}
.correct, .wrong, .quiz-answer{
    font-weight: bold;
    letter-spacing: .5px;
    width: auto;
    margin: 10px 0;
    color: white;
    padding: 6px 10px;
}
.correct {
    background-color: green;
}
.wrong {
    background-color: red;
}
.quiz-answer {
    color: black;
}
